{% extends 'main/base.html' %}
{% block title %} Лента заданий {% endblock %}
{% block content %}
    <div class="container mt-4">
        {% include "feed/_carousel.html" %}

        {% include "feed/_modal.html" %}

        <ul class="list-group mt-3">
            <form id="newPostForm" method="POST" action="/create_assignment" enctype="multipart/form-data">
                <li class="list-group-item">
                    <div class="form-group">
                        {{ post_form.caption.label }}
                        {{ post_form.caption(class="form-control", required=True) }}
                    </div>
                    <div class="form-group">
                        {{ post_form.body.label }}
                        {{ post_form.body(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ post_form.due_date.label }}
                        {{ post_form.due_date(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ post_form.attached_files.label }}
                        {{ post_form.attached_files(class="form-control") }}
                        <div class="form-text mt-2">
                            Максимальный размер файла: 25MB. Допустимые форматы: PDF, DOCX, PNG, JPG, JPEG, ZIP
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg py-3 fw-semibold">
                            <i class="fas fa-plus-circle me-2"></i>
                            Создать задание
                        </button>
                    </div>
                </li>
            </form>
            <h2>Лента заданий</h2>
            {% for post in posts %}
                <li class="list-group-item">
                    <h5><a href="{{ url_for('feed.assignment_detail', post_id=post.id) }}">{{ post.caption }}</a></h5>
                    <p>{{ post.body[:100] }}...</p>
                    <small>Дата публикации: {{ post.date_created.strftime("%Y-%m-%d") }}</small><br />
                    <small>Срок выполнения: {{ post.due_date.strftime("%Y-%m-%d %H:%M") }}</small>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}