{% extends 'main/base.html' %}
{% block title %} Лента заданий {% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Лента заданий</h2>
    {% if current_user.role == "teacher" %}
        <a href="{{ url_for('feed.create_assignment') }}" class="btn btn-primary">Создать задание</a>
    {% endif %}
    <ul class="list-group mt-3">
        {% for post in posts %}
            <li class="list-group-item">
                <h5><a href="{{ url_for('feed.assignment_detail', post_id=post.id) }}">{{ post.caption }}</a></h5>
                <p>{{ post.body[:100] }}...</p>
                <small>Дата публикации: {{ post.date_created.strftime("%Y-%m-%d") }}</small>
                <br>
                <small>Срок выполнения: {{ post.due_date.strftime("%Y-%m-%d %H:%M") }}</small>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
