<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                {% if current_user.is_authenticated %}
                    <div class="d-flex align-items-center me-3">
                        <span class="text-muted me-2">({{ current_user.role }})</span>
                        <span class="fw-bold">
                            {{ current_user.surname }}
                            {{ current_user.name[0] }}.
                            {% if current_user.patronymic %}
                                {{ current_user.patronymic[0] }}.
                            {% endif %}
                        </span>
                    </div>
                {% else %}
                    <div class="d-flex">
                        <a href="{{ url_for('login.index') }}" class="btn btn-outline-dark me-2">Войти в аккаунт</a>
                        <a href="{{ url_for('registration.index') }}" class="btn btn-dark">Зарегистрироваться</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>