    <div class="d-flex flex-column flex-shrink-0">
        <ul class="nav nav-pills flex-column mb-auto gap-2 p-2">
            <li class="nav-item">
                <a href="#" class="nav-link active d-flex align-items-center justify-content-center"
                   style="width: 70px; height: 70px; border-radius: 12px!important;"
                   aria-current="page">
                    <span class="menu-icon">A</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center justify-content-center"
                   style="width: 70px; height: 70px; border-radius: 12px!important;">
                    <span class="menu-icon">B</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center justify-content-center"
                   style="width: 70px; height: 70px; border-radius: 12px!important;">
                    <span class="menu-icon">C</span>
                </a>
            </li>
        </ul>
    </div>
