<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/libraries/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/modal.css") }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.16/dist/css/tempus-dominus.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header class="header"> {% include 'main/_header.html' %} </header>
    <div class="page">
        <nav class="sidebar"> {% include 'main/_sidebar.html' %} </nav>
        <main class="content"> {% block content %} {% endblock %} </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename="js/libraries/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/main.js") }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.16/dist/js/tempus-dominus.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>