<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | EduHelper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg-style.css') }}">
    {% block extra_css %}{% endblock %}
    <script src="https://kit.fontawesome.com/53d0520c41.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        {% include 'authorization/_flash.html' %}
        <div class="authorization-form">
            <a href="{{ url_for('home.index') }}" class="back-link">
                <i class="fa-solid fa-arrow-left"></i> Назад на сайт
            </a>

            <div class="form-header">
                <h2>{% block form_title %}{% endblock %}</h2>
                {% block form_subtitle %}{% endblock %}
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            {% block form_content %}{% endblock %}
        </div>
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>