{% extends "authorization/base-auth.html" %}

{% block title %}Вход{% endblock %}

{% block form_title %}Войти в аккаунт{% endblock %}

{% block form_subtitle %}
    <p>Нет аккаунта? <a href="{{ url_for('registration.index') }}">Зарегистрироваться</a></p>
{% endblock %}

{% block form_content %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="input-group">
            <div class="input-field{% if form.email.errors %} input-invalid{% endif %}">
                {{ form.email(class="form-input", placeholder="Электронная почта") }}
                {% if form.email.errors %}
                    <div class="error-message">
                        {{ form.email.errors[0] }}
                    </div>
                {% endif %}
            </div>

            <div class="input-field password-field{% if form.password.errors %} input-invalid{% endif %}">
                {{ form.password(class="form-input", placeholder="Пароль", id="password") }}
                <i class="fa-regular fa-eye toggle-password"></i>
                {% if form.password.errors %}
                    <div class="error-message">
                        {{ form.password.errors[0] }}
                    </div>
                {% endif %}
            </div>

            {{ form.submit(class="primary-btn") }}

            <div class="row-container">
                <div class="terms">
                    <label>
                        {{ form.remember() }}
                        <span> {{ form.remember.label.text }} </span>
                    </label>
                </div>
                <a href="#">Забыли пароль?</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
<script>
	document.addEventListener('DOMContentLoaded', function() {
        const forms = document.querySelectorAll('form');
        forms.forEach(form => {
            form.addEventListener('submit', function(e) {
                const submitButton = this.querySelector('.primary-btn');
                submitButton.disabled = true;
                submitButton.innerHTML = 'Отправка...';
            });
        });

        document.querySelectorAll('.toggle-password').forEach(icon => {
            icon.addEventListener('click', function() {
                const input = document.getElementById('password');
                const isPassword = input.type === 'password';

                input.type = isPassword ? 'text' : 'password';

                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });
        });
    });
</script>
{% endblock %}
